{% extends 'header.html' %} {% block content %}
<div
    style="height: 100vh; background: url('/static/images/Planeta.png'); background-position: center; background-repeat: no-repeat; background-size: cover;">
    {% if request.user.is_authenticated %}

    <h2 class="text-center text-light py-2">Bienvenido {{ user.username | upper }}!</h2>
    {% else %}
    <h2 class="text-center text-light py-2">Bienvenido!</h2>
    {% endif %}
    <p class="text-center text-light">
        Mirá las imágenes desde <a href="{% url 'home' %}">este link.</a>
    </p>
</div>
{% endblock %}